/* Style Sheet */

.textBox {
  display: flex;
  justify-content: flex-start;
}
.textBox p {
  animation: typeWriter 5s steps(40, end);
  overflow: hidden;
  white-space: pre;
}
@keyframes typeWriter {
    from {
      width: 0%;
    } to {
      width: 100%;
    }
}

/*Boxes*/
body {
  display:flex;
  justify-content: center;
}
.textBox {
  display: flex;
  align-items: baseline;
  justify-content: left;
  width: 25em;
  height: 25em;
  background-color: blue;
}

#input {
  display: flex;
  align-items: flex-end;
  background-color: orange;
}

/*Text styles*/
p {
  font-size: 1.5em;
  padding-left: 1em;
}
