/* Style Sheet */

.textBox {
  display: flex;
  justify-content: flex-start;
}
.textBox p {
  animation: typeWriter 5s steps(40, end);
  overflow: hidden;
  white-space: pre;
}




/* Animation */

@keyframes typeWriter {
    from {
      width: 0%;
    } to {
      width: 100%;
    }
}
